<template>
  <div>

  </div>
</template>

<script>
export default {
  name: '{{ properCase name }}',

  data: () => ({}),

  watch: {},

  computed: {},

  mounted: {},

  methods: {}
}
</script>

<style lang="stylus" scoped>

</style>
