<template>
  <div>

  </div>
</template>

<script>
import i18nHelper from '@/mixins/i18nHelper'

export default {
  name: '{{ properCase name }}Page',

  components: {},

  mixins: [i18nHelper],

  data: () => ({}),

  watch: {},

  computed: {},

  mounted: {},

  methods: {}
}
</script>

<style lang="stylus" scoped>

</style>
